<div class="container">
    <h1>Mapa básico</h1>
    <hr>
    <figure id="myMap"></figure>
</div>

<script src="/js/maps-setup.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=renderMap&key=AIzaSyCE5psNGfJ9C-NE9k3B8OlVuoxKjMGGy00"></script>