#myMap {
    height: 100vh;
    background-color: red;
}

#routeDetails {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 300px;
    background-color: white;
    font-size: .8em;
    padding: 10px;
    overflow-y: scroll;

    box-shadow: rgba(0, 0, 0, .2) 10px -10px 20px;
}