<div class="container">

    <h1>Crear nuevo restaurante</h1>

    <hr>

    <form method="POST" action="/restaurantes/crear">

        <label>Nombre
            <input name="name" type="text">
        </label>
        <br><br>

        <label>Descripción
            <input name="description" type="text">
        </label>
        <br><br>

        <label>Latitud
            <input name="latitude" type="text">
        </label>
        <br><br>

        <label>Longitud
            <input name="longitude" type="text">
        </label>
        <br><br>

        <input type="submit" value="Crear restaurante">

    </form>

</div>