<div class="container">
    <h1>Restaurantes</h1>
    <hr>
    <figure id="myMap"></figure>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/restaurants-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=init&key=AIzaSyCE5psNGfJ9C-NE9k3B8OlVuoxKjMGGy00"></script>